body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
}

.content-wrapper {
  min-height: calc(100vh - 140px); // navbar + footer yüksekliği hariç
  padding: 20px;
  box-sizing: border-box;
}
